<div>
  <div class='home large'>
    <%= image_tag'maggie.png', alt: 'Maggie' %>
  </div>

    <h2>Choose your corgum:</h2>
    <% @emotions.each do |emotion| %>
    <div class='home'>
      <%= emotion.corgis.count%> corgis are <%= link_to emotion.emotion_name, emotion_path(emotion) %>
    </div>
    <% end %>

</div>
