<div class='corgi'>
  <div class='picture'>
    <%= image_tag @corgi.img_url, alt: "A corgi" %>
  </div>
  <div class='quote'>
    <%= @corgi.quote %>
  </div>
  <div class='comments'>
    This is where all the comments will go
  </div>
</div>
